body {
  border-top:   8px solid #000;
  margin:       0;
  padding:      0;
  font:         13px/1.835 Helvetica, Arial, sans-serif;
}

a {
  color:        #374e7b;
  font-weight:  bold;
  text-decoration: none;
}

a:hover, .selected a {
  background:   #374e7b;
  color:        #fff;
}

#header {
  background:   #fff;
  margin:       0 0 16px;
  height:       104px;
  position:     relative;
}

#header h1 {
  background:   #374e7b;
  color:        #fff;
  float:        left;
  margin:       16px 0 0 16px;
  padding:      0.25em;
  font:         bold 48px Helvetica, Arial, sans-serif;
  letter-spacing: -0.06em;
}

#footer {
  clear:        both;
  margin:       32px 0 0;
  padding:      16px;
  border-top:   1px solid #ccc;
}

#player {
  position:     absolute;
  top:          0;
  left:         216px;
  width:        728px;
  height:       48px;
  padding:      16px;
}

#player .info {
  margin:       0 0 4px;
  font:         italic 1.0em Georgia, Times New Roman, serif;
}

#sidebar {
  border-left:  0;
  background:   #fff;
  width:        199px;
  float:        left;
  margin-right: 16px;
}

h3, th {
  border-top:   2px solid #ccc;
  margin:       0;
  font:         italic 1.3em Georgia, Times New Roman, serif;
  text-transform: uppercase;
  text-align:   left;
  padding:      12px 16px 4px;
}

#sidebar form {
  padding:      8px 16px 16px;
}

#sidebar form label {
  clear:        left;
  float:        left;
  width:        40px;
  font-size:    0.8em;
}

#sidebar form input {
  width:        120px;
  font-size:    0.8em;
}

#channels ul {
  margin:       8px 0 0 16px;
  padding:      0;
  list-style:   none;
  font:         italic 1.0em Georgia, Times New Roman, serif;
}

#channels li {
  margin:       0 0 4px;
  padding:      0;
  list-style:   none;
}

#main {
  background:   #fff;
  width:        760px;
  float:        left;
}

#libraryView {
  display:      none;
}

#prelib {
  font-family:  Georgia, Times New Roman, serif;
  font-style:   italic;
  padding:      0 64px 64px;
}

#prelib h2 {
  font-size:    3em;
  margin:       0 0 0.5em;
}

#prelib p {
  font-size:    1.4em;
}

#main .clear {
  clear:        both;
}

.artists, .albums {
  float:        left;
  width:        380px;
}

.artists ul, .albums ul {
  margin:       0;
  padding:      0;
  list-style:   none;
  height:       200px;
  overflow:     auto;
}

.artists li, .albums li {
  margin:       0;
  padding:      2px 16px;
  border-top:   1px solid #ccc;
  list-style:   none;
}

.tracks table {
  clear:        both;
  width:        760px;
  border-collapse: collapse;
}

.tracks table td {
  border-top:   1px solid #ccc;
  padding:      4px 16px;
}

.tracks table .name {
  width:        250px;
}
