body {
  margin:       0 0 40px;
  padding:      0 0 40px;
  font:         13px/1.835 Helvetica, Arial, sans-serif;
  background:   #4485c5;
}

a {
  color:        #000;
  font-weight:  bold;
}

#libraryView a {
  text-decoration: none;
}

.header {
  border-bottom: 1px solid #194571;
  background:   #fff;
  margin:       0 0 32px;
  height:       80px;
  position:     relative;
}

.header h1 {
  margin:       0;
  padding:      0.25em 0 0 16px;
  font:         bold 48px Helvetica, Arial, sans-serif;
  letter-spacing: -0.06em;
}

#player {
  border:       1px solid #999;
  border-top:   0;
  border-bottom:0;
  background:   #edf2ab;
  position:     absolute;
  top:          0;
  left:         320px;
  width:        320px;
  height:       48px;
  padding:      16px;
}

#player .info {
  margin:       0;
  font-size:    1em;
  font-weight:  normal;
}

#sidebar {
  border:       1px solid #194571;
  border-left:  0;
  background:   #fff;
  width:        199px;
  float:        left;
  margin-right: 16px;
}

h3 {
  margin:       0;
  font-size:    1.0em;
  text-transform: uppercase;
  background:   #9ac4ef;
  padding:      4px 16px;
}

#sidebar form {
  padding:      8px 16px 16px;
}

#sidebar form label {
  clear:        left;
  float:        left;
  width:        40px;
  font-size:    0.8em;
}

#sidebar form input {
  width:        120px;
  font-size:    0.8em;
}

#main {
  border:       1px solid #194571;
  background:   #fff;
  width:        760px;
  float:        left;
}

#main .clear {
  clear:        both;
}

.artists, .albums {
  float:        left;
  width:        380px;
  height:       200px;
  overflow:     auto;
}

.artists ul, .albums ul {
  margin:       0;
  padding:      0;
  list-style:   none;
}

.artists li, .albums li {
  margin:       0;
  padding:      2px 16px;
  border-top:   1px solid #ccc;
  list-style:   none;
}

.tracks table {
  clear:        both;
  width:        760px;
  border-collapse: collapse;
}

.tracks table thead td {
  font-weight:  bold;
  background:   #f4f4f4;
}

.tracks table td {
  border-top:   1px solid #ccc;
  padding:      4px 8px;
}

.tracks table .name {
  width:        250px;
}
