<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
	"http://www.w3.org/TR/html4/loose.dtd">

<html>
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <title>Outcast Hub</title>
  <script src="/javascripts/ojay/js-class-min.js" type="text/javascript" charset="utf-8"></script>
  <script src="/javascripts/yui.js" type="text/javascript" charset="utf-8"></script>
  
  <script src="/javascripts/ojay/core.js" type="text/javascript" charset="utf-8"></script>
  <script src="/javascripts/ojay/pkg/forms-min.js" type="text/javascript" charset="utf-8"></script>
  <script src="/javascripts/ojay/pkg/http.js" type="text/javascript" charset="utf-8"></script>
  
  <script src="/javascripts/js-class/comparable.js" type="text/javascript" charset="utf-8"></script>
  <script src="/javascripts/js-class/enumerable.js" type="text/javascript" charset="utf-8"></script>
  <script src="/javascripts/js-class/hash.js" type="text/javascript" charset="utf-8"></script>
  <script src="/javascripts/js-class/set.js" type="text/javascript" charset="utf-8"></script>
  
  <link rel="stylesheet" href="/stylesheets/master.css" type="text/css" charset="utf-8">
  
  <script src="/comet.js" type="text/javascript" charset="utf-8"></script>
  <script src="/javascripts/AC_QuickTime.js" type="text/javascript" charset="utf-8"></script>
  <script src="/javascripts/hub.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
  
  <div id="header">
    <h1>Outcast</h1>
    <div id="player">
      <h4 class="info"></h4>
      <div class="qt"></div>
    </div>
  </div>
  
  <div id="sidebar">
    <div id="login">
      <h3>Your library</h3>
      <form action="/" method="post">
        <div class="form-row">
          <label for="libraryName">Name</label>
          <input type="text" name="libraryName" id="libraryName" value="My tunes">
        </div>
        <div class="form-row">
          <label for="libraryAddress">URL</label>
          <input type="text" name="libraryAddress" id="libraryAddress" value="http://domain.me:8166">
        </div>
        <input type="submit" value="Share">
      </form>
    </div>
    
    <div id="channels">
      <h3>Channels</h3>
      <ul></ul>
    </div>
  </div>
  
  <div id="main">
    <div id="libraryView">
      <div class="artists">
        <h3>Artists</h3>
        <ul></ul>
      </div>
      <div class="albums">
        <h3>Albums</h3>
        <ul></ul>
      </div>
      <div class="tracks">
      </div>
    </div>
    
    <div id="prelib">
      <h2>Welcome to Outcast</h2>
      <p>Outcast lets you broadcast music from your iTunes library in real time
        to other computers over the web. If you&rsquo;re running an <tt>outcast</tt>
        server, start a new channel by entering its address in the form on the left.</p>
    </div>
  </div>
  
  <div id="footer">
    Outcast: a <a href="http://musichackday.org/">Music Hack Day</a> project
    by <a href="http://jcoglan.com">James Coglan</a>.
    Source code <a href="http://github.com/jcoglan/outcast">on GitHub</a>.
  </div>
  
  <script type="text/javascript" charset="utf-8">
    Comet = new Faye.Client('/comet');
    Comet.connect(function() { new Hub(Comet) });
  </script>
  
</body>
</html>
